.title {
    font-size:25px;
    font-weight: bolder;
    text-align: center;
}
.el-input--suffix {
    width:200px;
}
.el-input-number {
    width: 100px;
}
.el-row {
    margin-top :15px;
    text-align: center;
}

.main-button{
    width:200px;
}

.el-card {
    position: relative;
    width: 60%;
    left: 20%;
}

.el-upload {
    margin-top: 40px;
}