.title {
    font-size:25px;
    font-weight: bolder;
    text-align: center;
}
.width1 {
    width:100px;
}
.width2 {
    width:200px;
}

::v-deep .el-input__inner {
    text-align: center;
}
.el-row {
    margin-top :15px;
    text-align: center;
}

.el-row.margin1{
    margin-top :40px;
}

.el-card {
    position: relative;
    width: 60%;
    left: 20%;
}

.el-upload {
    margin-top: 40px;
}