.changePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changePassword-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 600px;
    height: 450px;
}

.el-card {
    opacity: 90%;
    margin-top: 50px;
    width: 700px;
}

.changePassword-title {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.changePassword-back {
    height: 30px;
    float: left;
    width: 150px;
}

.changePassword-blank {
    width:100px;
}

.changePassword-form-items {
    width: 98%;
}

#changePassword-button {
    width: 40%;
}