.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 500px;
}

.login-content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin-top: -20px;
    margin-bottom: 10px;
}

.login-el-form {
    padding-right: 55px;
}

.login-form-items {
    width: 98%;
}

.login-menu {
    background-color: rgba(255, 255, 255, 0);
}

.login-menu :hover {
    background-color: rgba(255, 255, 255, 0.499) !important;
}

.login-menu-items {
    background-color: rgba(255, 255, 255, 0) !important;
    font-weight: bold;
    font-size: 120%;
}

.login-link {
    position: relative;
    height: 15px;
}

.login-form-link {
    color: #409EFF;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    outline: 0;
    padding: 0;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 0;
}

.login-form-link:hover {
    color: red;
    text-decoration: underline;
}

#login-button {
    margin-left: 20px;
    width: 80%;
}