
.el-row{
    margin-top :15px;
}
.el-radio-group {
    margin-left:40px;
}
.order-content {
    opacity: 95%;
    position: relative;
    width:90%;
    left:5%
}
.price {
    margin-top :-10px;
    font-size : 30px;
    color :orange;
}

.margin1 {
    margin-top : 10px;
    margin-bottom : 10px;
}
.margin2 {
    margin :0;
    height:20px;
}
.main-button{
    margin-top : -10px;
    width:150px;
}