
::v-deep .el-table .el-table__cell {
    text-align: center;
} 

.result-list {
    position: relative;
    width:90%;
    left:5%;
}

.margin1
{
    height:50px;
}

.el-card {
    position: relative;
    width:90%;
    min-height: 600px;
    left:5%;
}
